*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about{
    background:url(abut.jpg);
    background-size: cover;
    height: 90vh;
    width: 100%;
}
.abouth1{
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;


}
.about p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-top: 100px;
}
.about p:nth-child(2){
 font-size: 18px;
 color: gray;   
}
.about .mbtn1{
    height: 20px;

    outline: none;
    border: none;
    color: white;
    background-color: rgb(20,219,20);
    border-radius: 50px;
    transition: all 0.4s;
}
.about .line{
    height: 6px;
    width: 30%;
    background: rgb(20,219,20);
}



.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
    font-family: 'Montserrat', sans-serif;

}
.nav-item a:hover{
    color: rgb(20,219,20);
}
.navbar-brand{
    height: 50px;
    width: 100px;
}
.search{
height: 45px;
outline: none;
border: 2px solid rgb(20,219,20);
background-color: transparent;
border-radius: 20px 0px 0px 20px;
border-right: none;

}
.btn1{
    height: 45px;
    outline: none;
    border: none;
    background-color: rgb(20,219,20);
    color: #fff;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}
.bi-bag-check{
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;
}
.bi-bag-check:hover{
    color: rgb(20,219,20);
}
.navbar-toggler{
    font-size: 23px;
    color: black;
}
.navbar-toggler:focus
    {
    outline: none;
    box-shadow: none;
}